# Banned Binaries & Large Media
weights/
*.pt
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.webp

# Local Runtime Data / Outputs
violations/

# Python environment & cache
__pycache__/
*.pyc
venv/
.venv/
.streamlit/

# EXCEPTION: Allow tracking files inside the assets folder
!assets/**